<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head') %>
  </head>
  <body class="flex items-center justify-center bg-blue-100">
    <main class="container my-16">
      <form action="/login" method="post" class="p-8 bg-white">
        <h1>Login</h1>
        <% if (error) { %>
        <p class="error"><%= error %></p>
        <% } %>
        <div>
          <label for="username">Username</label>
          <input
            type="text"
            id="username"
            name="username"
            placeholder="Username"
            required
          />
        </div>
        <div>
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            name="password"
            placeholder="Password"
            required
          />
        </div>
        <button type="submit">Login</button>
      </form>
    </main>
  </body>
</html>
