<html>
  <head>
    <title>Socialite</title>
    <link rel="icon" href="https://fav.farm/💬" />
    <link rel="stylesheet" href="./styles.css" />
    <script type="module" src="./client/index.ts"></script>
  </head>
  <body>
    <header class="py-4 mb-16 shadow-md bg-slate-50">
      <div class="container flex items-center justify-between">
        <h1 class="mb-0 font-thin">
          <a href="/">
            Socialite
          </a>
        </h1>
        <nav>
          <ul class="container flex items-center gap-8">
            {{#if user}}
              <li>
                <a href="/profile">
                  {{user.username}}
                </a>
              </li>
              <li>
                <form
                  action="/logout"
                  method="post"
                  class="p-0 mb-0 bg-transparent shadow-none"
                >
                  <button type="submit">Logout</button>
                </form>
              </li>
            {{else}}
              <li>
                <a href="/signup">Sign Up</a>
              </li>
              <li>
                <a href="/login">Log In</a>
              </li>
            {{/if}}
          </ul>
        </nav>
      </div>
    </header>
    <main class="container pb-16">
      {{{body}}}
    </main>
  </body>
</html>