<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Totally Not Malicious Chat</title>
    <link rel="icon" href="https://fav.farm/💬" />
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="./styles.css" />
    <script type="module" src="./client/attacker-chat.ts" defer></script>
  </head>
  <body class="min-h-screen bg-white malicious">
    <header
      class="fixed top-0 left-0 right-0 flex items-center justify-between p-4 bg-white shadow-sm"
    >
      <h1 class="mb-0 text-base">Support Chat</h1>
      <p class="text-red-400">
        Your chat has been refreshed, we apologize for the error.
      </p>
    </header>
    <div
      id="messages"
      class="flex flex-col items-end justify-end h-screen gap-4 px-8 py-24 bg-blue-50"
    >
      <div class="message support">
        <p>Are you still there?</p>
      </div>
    </div>
    <div
      class="fixed bottom-0 left-0 right-0 flex items-center gap-4 p-4 bg-white shadow-sm"
    >
      <input type="text" id="message" placeholder="Type your message..." />
      <button id="send-message" disabled>Send</button>
    </div>
  </body>
</html>
