<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Totally Innocent Page</title>
    <link rel="icon" href="https://fav.farm/🥸" />
    <link rel="stylesheet" href="./styles.css" />
    <script type="module" src="./client/tabnabber.ts" defer></script>
  </head>
  <body class="bg-pink-100">
    <main class="container py-16">
      <h1 class="text-4xl font-bold text-center">Some Random Page</h1>
      <p class="mt-4 text-center">Nothing to see here!</p>
    </main>
  </body>
</html>
