<html>
  <head>
    <title>File Box</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="./styles.css" />
    <link rel="icon" href="https://fav.farm/📂" />
  </head>
  <body>
    <main class="container py-8">
      <h1>File Box</h1>
      {{{body}}}
    </main>
  </body>
</html>