<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Innocent Payment Site</title>
    <link rel="icon" href="https://fav.farm/💸" />
    <link rel="stylesheet" href="./styles.css" />
    <script type="module" src="./client/send-money.ts" defer></script>
  </head>
  <body class="flex items-center justify-center bg-blue-100">
    <button id="send-money" data-amount="$100" data-recipient="Alice">
      Send $100 to Alice
    </button>
  </body>
</html>
